@import "./../../variables.scss";

.welcome-wrapper {
    width: 100%;

    margin: 0 auto;

    text-align: center;

    color: #000;

    .welcome-header {
        margin: 20px 0;

        font-weight: bold;

        text-align: center;
    }

    .try-now {
        width: 100%;

        padding: 45px 0;

        background: $base-background-color-top;
        color: #f9f9f9;

        .try-now-container {
            max-width: 1280px;

            margin: 0 auto;

            .try-now-header {
                margin-bottom: 10px;
    
                font-size: 30px;
            }
    
            a {
                text-decoration: none;
    
                .try-now-button {
                    width: 250px;
                    height: 53px;
        
                    font-weight: bold;
        
                    border-radius: 35px;
                }
            }
        }
    }
}


@media (min-width: $bp-640-lower) {
    .welcome-header {
        font-size: 45px;

        .app-name {
            font-size: 65px;
        }
    }
}

@media (max-width: $bp-640-upper) {
    .welcome-header {
        font-size: 28px;

        .app-name {
            font-size: 38px;
        }
    }
}

@media (max-width: 400px) {
    .welcome-header {
        font-size: 24px;

        .app-name {
            font-size: 34px;
        }
    }
}