@import "./../../variables.scss";

.logo {
    display: inline-block;

    width: 40px;
    height: 40px;

    margin-right: 10px;
    
    svg, #logo { // TODO: убрать #logo (так как используется лого сайта).
        width: 40px;
        height: 40px;
    }
}