@import "./../../variables.scss";

.logo {
  width: 52px;
  height: 52px;

  transition: 1s;

  .background {
    transition: 1s;
  }
}

.logo:hover {
  transform: rotate(90deg);

  .background {
    fill: $ppnp-color;
  }
}

#menu-icon {
  .line {
    fill: #fff;
  }

  .background {
    fill: $base-color;
  }
}

@media (min-width: $bp-640-lower) {
  .tool-bar {
    margin-top: 34px;
  }
  
  .nav-buttons-wrapper {
    display: block;
  }
}

@media (max-width: $bp-640-upper) {
  .tool-bar {
    margin-top: 20px;
  }

  .nav-buttons-wrapper {
    display: none;
  }
}