// COLORS
$base-color: #E15F00;
$ppnp-color: #2970EC;

$base-background-color: #fafafa;       // Warm
// $base-background-color-top: #150d0a;       // Warm
$base-background-color-top: #0a0d15;  // Cold


// BREAKPOINTS
$bp-640-upper: 640px;
$bp-640-lower: 641px;