@import "./../../variables.scss";

.welcome-block-desktop,
.welcome-block-mobile {
    width: 100%;
    min-height: 330px;

    .welcome-block {
        max-width: 1280px;
    
        margin: 0 auto;
    
        .image-block {
            display: flex;
            align-items: center;
    
            padding: 10px 0;
    
            svg {
                width: 50%;
                height: auto;
            }
    
            .image-picture {
                width: 80%;
            }
        }

        .text-block {
            padding: 0 24px;
            display: flex;
            align-items: center;
        }
    }
}

.welcome-block-mobile {

    .welcome-block {
        padding: 10px 0;

        .image-block {
            justify-content: center;
        }
    }
}


@media (min-width: $bp-640-lower) {
    .welcome-block-desktop {
        display: flex !important;
    }

    .welcome-block-mobile {
        display: none;
    }

    .text-block {
        // padding: 30px 0;

        font-size: 24px;
    }
}

@media (max-width: $bp-640-upper) {
    .welcome-block-desktop {
        display: none !important;
    }

    .welcome-block-mobile {
        // display: flex;
        
        .text-block {
    
            font-size: 24px;
        }
    }

}